<h1> Taxes List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>labelle</th>
            <th>year</th>
            <th>IsPayed</th>
            <th>total</th>
            <th>address</th>
            <th>category</th>
            <th>CIN</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tax of tnbTaxes">
            <td> {{ tax.labelle }} </td>
            <td> {{ tax.year }} </td>
            <td> {{ tax.IsPayed }} </td>
            <td> {{ tax.total }} </td>
            <td> {{ tax.field.address }} </td>
            <td> {{ tax.field.category.name }} </td>
            <td> {{ tax.field.liable.cin }} </td>
        </tr>
    </tbody>

</table>
