<div class="container">
<h1> Categories List</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>rate</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories"> <!-- categories est définit sur le fichier categoryList componenent-->
            <td> {{ category.name }} </td>
            <td> {{ category.rate }} </td>
        </tr>
    </tbody>

</table>

<br>

<form method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputName">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Rate</label>
      <input type="number" class="form-control" id="exampleInputRate">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">address's field</label>
        <input type="text" class="form-control" id="exampleInputAddress">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>